body {
    background-color: aliceblue;
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
    background-image: url("https://github.com/ggdmj23/firstPortfolio/raw/master/'4ba7701b.png'");
    font-family: 'Roboto', sans-serif;  
}

* {
    box-sizing: border-box;
}

.container{
   
    /*
    background-image: url("'be193cd0.png'");
    */
   
}

/**********/
/* NAVBAR */
/**********/

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #009999;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    
    flex-direction: row;
    flex-wrap: wrap;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #009999;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 800px) {
    #navbar ul {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

#navbar li {
    float: left;
    background-color: #008080;
}

#navbar a {
    display: block;
    text-decoration: none;
    width: 120px;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 1.4em;
}

@media only screen and (max-width: 800px) {
    #navbar a {
        width: 100%;
        padding: 10px;
        font-size: 1.2em;
    }
}

#navbar a:hover {
    background-color: #009999;
    color: black;
}

/************/
/* MINILOGO */
/************/

#logo {
    display: block;
    position:fixed;
    left: 50px;
    top: 15px;
    font-size: 2em;

}

.fus {
    position: relative;
    top: -0px;
    left: 9px;
    font-family: 'Orbitron', Verdana, sans-serif;
    color: orange;
}

.e {
    position: relative;
    left: -4px;
    top: 0px;
    font-family: 'Orbitron', Verdana, sans-serif;
    font-size: 0.6em;
}

.e- {
    position: relative;
    left: -3px;
    top: 0px;
    font-family: 'Orbitron', Verdana, sans-serif;
    color: orange;
    font-size: 1.6em;
    z-index: 2;
}

.b {
    position: relative;
    left: -15px;
    top: 3px;
    font-family: 'Orbitron', Verdana, sans-serif;
    color: orange;
    z-index: 0;
}

.boy {
    position: relative;
    left: -20px;
    top: 3px;
    font-family: 'Orbitron', Verdana, sans-serif;
    font-size: 0.6em;
    z-index: -1;
}

/********/
/* LOGO */
/********/

.fuslogo {
    position: relative;
    top: -0px;
    left: 9px;
    font-family: 'Orbitron', Verdana, sans-serif;
    color: orange;
    z-index: 1;
    text-shadow: 5px 5px 5px teal;
}

.elogo {
    position: relative;
    left: -23px;
    top: 0px;
    font-family: 'Orbitron', Verdana, sans-serif;
    color: whitesmoke;
    font-size: 0.6em;
    z-index: 3;
    
    text-shadow: 5px 5px 5px teal;
    
}

.e-logo {
    position: relative;
    left: -5px;
    top: 0px;
    font-family: 'Orbitron', Verdana, sans-serif;
    color: orange;
    font-size: 1.6em;
    z-index: 2;
    text-shadow: 5px 5px 5px teal;
}

.blogo {
    position: relative;
    left: -48px;
    top: 5px;
    font-family: 'Orbitron', Verdana, sans-serif;
    color: orange;
    z-index: 3;
    text-shadow: 5px 5px 5px teal;
}

.boylogo {
    position: relative;
    left: -58px;
    top: 3px;
    font-family: 'Orbitron', Verdana, sans-serif;
    color: whitesmoke;
    font-size: 0.6em;
    z-index: 1;
    
    text-shadow: 5px 5px 5px teal;
    
}

.comment {
    font-size: 0.4em;
    position: relative;
    left: -50px;
    top: 3px;
    
    text-shadow: 5px 5px 5px teal;
    
}

/***********/
/* SECTION */
/***********/

#welcome-section {
    padding-top: 60px;
    /*
    height: 100vh;
    overflow: auto;
    */
}

@media only screen and (max-width: 800px) {
    #welcome-section {
        padding-top: 200px;
        min-height: ;
    }
}

h1 {
    text-align: center;
    font-size: 4.5em;
    
    text-shadow: 5px 5px 5px teal;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    
    text-shadow: 5px 5px 5px teal;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*************/
/* THUMBNAIL */
/*************/

.thumbnail {
    width: 350px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px teal;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
    border-bottom: 2px solid slategray;
    border-right: 2px solid slategray;
    border-radius: 5px;
}

h3 {
    text-align: center;
    font-size: 1.5em;
}

h3 a {
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    text-shadow: 5x 5px 5px teal;
}

h3 a:hover {
    text-decoration: none;
    text-align: center;
}

/***********/
/* CONTACT */
/***********/

#codepen {
    width: 50%;
    height: 80px;
    margin: auto;
}

#codepen h2 {
    font-size: 2em;
    text-align: center;
}

#codepen a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    text-shadow: 5x 5px 5px teal;
}

#contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 800px) {
    #contact {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.contact {
    width: 20%;
    height: 60px;
    margin: auto;
}

@media only screen and (max-width: 800px) {
    .contact {
        width: 50%;
        height: 60px;
        margin: auto;
    }
} 

.contact h2 {
    font-size: 2em;
    text-align: center;
}

.contact a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    text-shadow: 5x 5px 5px teal;
}

/*****************/
/* FOOTER NAVBAR */
/*****************/

#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #009999;
    border-top: 1px solid white;
    display: flex;
    justify-content: flex-end;
    
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 800px) {
    #footer ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

#footer li {
    float: left;
    background-color: #008080;
}

#footer a {
    display: block;
    text-decoration: none;
    width: 120px;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 1em;
}

@media only screen and (max-width: 800px) {
    #footer a {
        width: 100%;
        padding: 10px;
    }
}

#footer a:hover {
    background-color: #009999;
    color: black;
}

.copyright {
    width: 250px;
    text-align: center;
    padding: 10px;
}


/*******************/
/* MINILOGO FOOTER */
/*******************/

#logo-footer {
    display: block;
    position: relative;
    left: 20px;
    bottom: 3px;
    font-size: 2em;
}

.fusfooter {
    position: relative;
    bottom: 0px;
    left: 9px;
    font-family: 'Orbitron', Verdana, sans-serif;
    color: orange;
}

.efooter {
    position: relative;
    left: -4px;
    top: 0px;
    font-family: 'Orbitron', Verdana, sans-serif;
    color: white;
    font-size: 0.6em;
}

.e-footer {
    position: relative;
    left: -3px;
    top: 0px;
    font-family: 'Orbitron', Verdana, sans-serif;
    color: orange;
    font-size: 1.6em;
    z-index: 3;
}

.bfooter {
    position: relative;
    left: -15px;
    top: 3px;
    font-family: 'Orbitron', Verdana, sans-serif;
    color: orange;
    z-index: 1;
}

.boyfooter {
    position: relative;
    left: -20px;
    top: 3px;
    font-family: 'Orbitron', Verdana, sans-serif;
    color: white;
    font-size: 0.6em;
    z-index: 0;
}